<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/css/register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>
        <img src="../static/img/logo.png" alt="" style="margin: 50px 0 0 50px">
        <div class="container">
            <h1 style="text-align: center; margin-bottom: 30px;">Регистрация</h1>
            <form method="POST" class="reg_elements" >
                {{ form.hidden_tag() }}
                {{ form.name.label }}<br>
                {{ form.name }}<br>
                <br>
                {{ form.last_name.label }}<br>
                {{ form.last_name }}<br>
                <br>
                {{ form.mail.label }}<br>
                {{ form.mail }}<br>
                <br>
                {{ form.password.label }}<br>
                {{ form.password }}<br>
                <br>
                {{ form.copy_password.label }}<br>
                {{ form.copy_password }}<br>
                <br>
                {{ form.submit }}
            </form>
            <div class="container_1">
                <p style="margin: 0">Уже зарегистрированы?</p>
                <a href="/log" class="link_1">Нажмите, чтобы войти</a>
            </div>
        </div>
</body>
</html>
