<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name }}
        {{ form.last_name.label }} {{ form.last_name }}
        {{ form.mail.label }} {{ form.mail }}
        {{ form.password.label }} {{ form.password }}
        {{ form.copy_password.label }} {{ form.copy_password }}
        {{ form.submit }}
    </form>
</body>
</html>