<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазин</title>
<!--    <link rel="stylesheet" href="../static/css/shop1.css"/>-->
<!--    <link rel="icon" href="../static/img/icons/chose-icon-4.png">-->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop1.css') }}" type="text/css">
</head>


<body style="background-color: #151515">

<section style="width: 100%">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                </a>
            </div>
            <div class="conteiner">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Магазин</a></li>
                            <li><a href="/all_posts">Статьи</a>
                                <ul class="dropdown">
                                    <li><a href="/all_posts">Статьи</a></li>
                                    <li><a href="/editor">Написать статью</a></li>
                                </ul>
                            </li>
                            {% if current_user.is_authenticated %}
                            <li>
                                <a href="/profile">{{ current_user.name }} {{ current_user.last_name }}</a>
                                <ul class="dropdown">
                                    <li><a href="/profile">Профиль</a></li>
                                    <li><a href="#">Корзина</a></li>
                                    <li><a href="/logout">Выйти</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="/log">Войти</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
</section>
<div style='height: 110px; width: 100%; background-image: url("../static/img/classes-title-bg-grey.jpg"); z-index: 10'></div>
<!-- Header End -->

<!--<div class="container">-->
<!--    <div class="main_title_bcgr">-->
<!--        <div class="main_title">Батончики</div>-->
<!--    </div>-->
<!--</div>-->
<section>
    <div class="container" id="products-container">
        <ul class="products clearfix">
            {% for product in products %}
                <li class="product-wrapper" style="height: auto">
                    <div href="" class="product">
                        <a href="product/{{ product.id }}">
                            <div class="product-photo">
                                <img src="{{ url_for('static', filename=product.image) }}">
                            </div>
                        </a>
                        <div class="product-descriprion">
                            <a class="product-name" href="product/{{ product.id }}" id="text">{{ product.name }}</a>
                            <button class="button" onclick="addToCart({{ product.id }})">
                                <img src="{{ url_for('static', filename='img/icons/shopping-cart.png') }}">
                                <div class="button-text" style="width: auto">Купить</div>
                            </button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<script>
    function addToCart(productId) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/add_to_cart");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({product_id: productId}));
    }
</script>

<script>
    const productNames = document.querySelectorAll('.product-name');

    productNames.forEach(productName => {
        const originalText = productName.textContent;

        if (originalText.length > 20) {
            const truncatedText = originalText.slice(0, 20) + '...';
            productName.textContent = truncatedText;
        }
    });
</script>


<!--<div class="container">-->
<!--    <div class="main_title_bcgr">-->
<!--        <div class="main_title">Спортпит</div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <ul class="products clearfix">-->
<!--        <li class="product-wrapper">-->
<!--            <div href="" class="product">-->
<!--                <a href="">-->
<!--                    <div class="product-photo">-->
<!--                        <img src="../static/img/gyms_logo/Ohana fitness.png">-->
<!--                    </div>-->
<!--                </a>-->
<!--                <div class="product-descriprion">-->
<!--                    <h1 class="product-name">Спортпит</h1>-->
<!--                    <div>-->
<!--                        Какое-либо описание в 2-4 строчки-->
<!--                    </div>-->
<!--                    <div class="button" href="">-->
<!--                        <img src="../static/img/icons/shopping-cart.png" alt="">-->
<!--                        <div class="button-text">В корзину</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<div class="space"></div>

<!-- Js Plugins -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mixitup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>


</html>